<header-page></header-page>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label  class="mr-sm-2" for="connect"><b>  WebSocket connection:</b></label>
                    <button id="connect" class="btn btn-outline-secondary mr-sm-2" type="submit" (click)="connect()" [disabled]="isConnected()">Connect</button>
                    <button id="disconnect" class="btn btn-outline-secondary mr-sm-2" type="submit" (click)="disconnect()" [disabled]="!isConnected()">Disconnect
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label  class="mr-sm-2" for="name"><b>What is your name?</b></label>
                    <input type="text" id="name" #theName class="form-control mr-sm-2" [disabled]="!isConnected()" placeholder="Your name here...">
                    <button id="send" class="btn btn-outline-secondary" type="submit" [disabled]="!isConnected()" (click)="sendName()">Send</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table *ngIf="isConnected()" id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Greetings</th>
                </tr>
                </thead>
                <tbody id="greetings">
                  <tr *ngFor="let m of messagesList"><td>{{m.content}}</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>